@page "/admin"

@{
}


<!DOCTYPE html>
<html>
<head>
    <title>Bookstore Admin</title>
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
    <base href="/" />
    <!--specifies the base URL and default target-->
</head>

<body>
    <component type="typeof(Project7.Pages.Admin.Routed)" render-mode="Server" />
    <script scr="/_framework/blazor.server.js"></script>
</body>
</html>