@{ }
<!--Hannah Watkins-->
@model BooksViewModel
<div>
    <!--for loop that takes the list of books and outputs all the info-->
    @foreach (Book b in Model.Books)
    {<!--this links to the partial view ProjectSummary shared view-->
                <partial name="ProjectSummary" model="b" />}

</div>
<!--tag helper takes what you've given and dynamically builds it into html-->

<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
